@font-face { font-family: Engschrift; src: url('Engschrift.otf'); }

body, html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background: #111;
    color: whitesmoke;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar {
    display: none;
}

.custombutton {
    padding: 10px;
    margin: 5px;
    width: 55px;
    text-align: center;
    color: red;
    
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

a:hover {
    background-color: whitesmoke;
    color: black;
}

/* the notifs */

.overlay {
  min-height: 100vh;
  display: flex;
  justify-content: right;
  margin-top: 5%;
}

.overlay h2 {
  background: rgb(104, 0, 0);
  font-weight: 600;
  margin: 2rem 3rem 0;
  padding: 15px 20px;
  text-align: center;
  position:absolute;
}

.overlay h2 {
  background:darkred;
  font-weight: 600;
  margin: 2rem 3rem 0;
  padding: 15px 20px;
  text-align: center;
  position:absolute;
}

.overlay h3 {
  border-style: solid;
  border-color: whitesmoke;
  background:black;
  font-weight: 600;
  margin: 2rem 3rem 0;
  padding: 15px 20px;
  text-align: center;
  position:absolute;
}

.textNotif{
  color: white;
  display: none;
}

#donePopup{
  color: white;
  height:120px;
  width:250px ;
  text-align: center;
  margin-top: 15%;
  margin-right: 40%;
}

/* the video */

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}


#videoWrapper{
    margin-top: 5%;
}

#about {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 50%;
    text-align: justify;
    font-size: 20px;
}

/* post video */


#vimeo:link, #vimeo:visited{
    color: red;
}

#player {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.title {
    font-size: 30px;
}

#filmInfo {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 60%;
    text-align: justify;
    font-size: 18px;
}


  /* the slider */

.sliderWrapper{display: inline-block;margin:24px 24px 24px 24px;}
.sliderWrapper div{display: inline-block;line-height:60px;}

.switch {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: green;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px green;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

